/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My code */

.wrapper {
    width:100%;
}

.header {
    width:100%;
    height:120px;
}

.header nav {
    opacity:.9;
    display:none;
    position:absolute;
    z-index:1000;
    top:85px;
    width:90%;
    margin-left:20px;
    margin-right:20px;
    background-color:#fff;
}

.act {
    background-color:#d49c59;
}

.times {
    display:none;
}

.header nav ul {
    list-style: none;
    border:1px solid #000;
}

.header nav ul li {
    border-bottom:1px solid #000;
}

.header nav ul li a {
    color:#000;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
    font-weight:bold;
    padding:10px 0;
    display:block;
    padding-left:30px;

}

.header {
    background-color:#fff;
    position:relative;
}

.header .toggle-menu {
    float:left;
    line-height:120px;
    margin-left:20px;    
}

.header .toggle-menu i {
    color:#333;
    font-size:30px;
}

.header .auth-btn {
    position:absolute;
    right:30px;
    top:0;
    width:195px;
    height:72px;
    z-index:1000;

}


.header .auth-btn img {
   position:relative;
   top:20px;
   border-radius:50%;
  -webkit-border-radius:50%;
   width:60px;
   height:60px;
}

.header .logo h1{
    text-transform:uppercase;
    background-color:#fff;
    font-size:24px;
    font-weight:bold;
    font-family: 'Francois One', sans-serif;
    text-align:center;
    padding:13px 27px;
    border:5px solid #000;
    letter-spacing:4px;
    position:relative;
    width:75%;
    margin:0 auto;
    top:90px;


}

/*End of the header styles*/

.blog-banner {
    height:160px !important;
    width:100%;
    background-image:url('../images/banner.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size:100% 160px;    
}

/*This is where the footer styles start*/

.footer {
    width:100%;
    margin-top:20px;
    clear:both;
}

 .form-description h2 {
    text-align:center;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-weight:bold;
    color:#000;
    letter-spacing:2px;
    font-size:22px;
}

.footer .bl {
    width:28px;
    height:5px;
    background-color:#000;
    margin:25px auto;
}

.footer .form {
    width:90%;
    margin:0 auto;
}

.footer .form .black {
    background-color:#000;
    color:#fff;
    cursor:pointer;
    margin-top:10px;
    border-radius:0;
    -webkit-border-radius:0;
    padding:9px;
}

 .social ul {
    width:100%;
    margin:25px 0;
    list-style: none;
    text-align:center;
}

 .social ul li {
    display:inline-block;
}

 .social ul li a {
    padding:0 6px;
}

 .social ul li a i {
    color:#000;
    font-size:19px;
}

.footer .footer-copyright {
    width:200px;
    color:#9b9b9b;
    font-size:14px;
    margin:0 auto;
    padding-bottom:30px;
}

/*End of the footer*/
.top {
    margin-top:20px;
}

.desc {
    font-family: 'Muli', sans-serif;
    font-size:27px;
    font-weight:bold;
}
.single {
    color:#585858;
    font-size:18px;
    font-family: 'Muli', sans-serif;
    margin-bottom:15px;
    line-height:19px;
    margin-top:20px;
    margin-bottom:50px;
    padding:0 20px;
}

.single-img {
    width:100%;
}

/*Blog page*/

    .categories ul {
        padding:20px 0;
        display:block;
        list-style: none;
        margin-bottom:20px;
    }

 


    .categories ul li {
        width:100%;
        float:left;
    }

    .categories ul li:first-child {
        padding-left:0;
    }


    .categories ul li a {
        padding:10px 0;
        font-size:21px;
        font-family:arial;
        transition:all 0.5s ease-out;
        -webkit-transition:all 0.5s ease-out;
        -moz-transition:all 0.5s ease-out;
        display:inline-block;
        padding-left:25px;
        text-decoration:none;
        color:#000;
        background-color:rgba(240, 240, 240, .5);
        display:block;
        text-align:center;
        border-bottom:3px solid #fff;
    }

    .categories ul li:last-child {
        margin-bottom:20px;
    }

    .categories .btn {
        clear:both;
        display:block;
        margin:20px;
    }


/* Form padding */

.row {
    padding:0 30px;
}

/* Food Boxes*/

.content .box {
    width:100%;
    padding:0 30px 20px 30px;
    margin-top:15px;
    border-bottom:1px solid #ddd;
}

.content .box img {
    width:100%;
}

.content .date {
    padding:10px 0;
}

.content h2 {
    font-size:21px;
    font-family:arial;
    padding-bottom:15px;
}

.content .food-desc {
    font-family:arial;
    font-size:17px;
    line-height:21px;
    padding-bottom:10px;
    border-bottom:1px solid #ddd;
}

.content .box .btn {
    margin:10px auto 20px;
}

.activ {
    background-color:#999 !important;
    color:#f9f9f9 !important;
}

.desc {
    margin-left:30px;
}


.box .user-info img {
        margin:20px 10px 0 0px;
        width:60px;
        height:60px;
        border-radius:50%;
        -webkit-border-radius:50%;
    }

    .box .user-para {
        display: inline-block;
        width:130px;
    }



    .box .user-info p {
        display:inline-block;
        font-size:12px;
    }


/*Tablet view*/
@media only screen and (min-width:756px) {
.wrapper .blog-banner {
    height:350px !important;
    background-size:100% 350px;
}       

}

/*Desktop view*/

@media only screen and (min-width:1024px) {
   .wrapper {
    width:80%;
    margin:0 auto;
   } 

   .blog-banner {
    height:350px !important;
    background-size:100% 350px;
    }

    .header .logo h1 {
        top:85px;
        width:38%;
        font-size:33px;
        padding:17px 30px;
        letter-spacing:6px;
    }

    .toggle-menu {
        display:none;
    }

    .header nav {
        display:block;
        opacity:1;
        width:auto;
        margin-left:0;
    }

    .header nav ul {
        border:none;
    }

    .header nav ul li {
        border-bottom:none;
        display:inline-block;
    }

    .header nav ul li a {
        font-size:15px;
        font-weight:bold;
        transition:all 0.5s ease-out;
        -webkit-transition:all 0.5s ease-out;
        -moz-transition:all 0.5s ease-out;
    }

    .act {
        background-color: transparent;
        opacity:.5;
    }

    .footer {
        position:relative;
    }


    .form-description {
        width:30%;
        float:left;
    }

    .footer .form-description .bl {
        margin:25px 0 25px 20px !important;
    }

    .footer .form {
        float:right;
        width:55%;
        margin:0 auto;
        margin-right:35px;
    }
    
     .social {
        position:absolute;
        left:20px;
        top:60px;
    }

    .footer-copyright {
        clear:both;
        width:100% !important;
        text-align: center;
    }

    .footer-copyright p {
        padding-top:50px;
    }

    .single-img {
    width:500px;
    }

    .single {
        padding:0;
    }
        /*Boxes*/


    .categories {
        display:block;
    }
    .categories ul {
        display:inline-block;
    }


    .categories ul li {
        width:auto;
        background-color:#fff !important;        
    }
    .categories ul li a {
        background-color:transparent;
    }
    .categories .activ {
        background-color: #fff !important;
        color:#000 !important;
        opacity:.5;        
    }

    .categories .btn {
        display:inline-block;
        clear:none;
        margin:20px 30px 0 0;
        float:right;
    }
    .content-boxes {
        justify-content: space-between;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-flow:row wrap;
        -webkit-flex-flow:row wrap;
        -ms-flex-flow:row wrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }

    .box {
        flex-basis:48%;
        -webkit-flex-basis:48%;
        padding:0 !important;
        border:1px solid #eee;
        margin-bottom:35px;
    }
    .box .user-info img {
        margin-left:30px; 
    }

    .box .user-para {
        position:relative;
        bottom:10px;
    }

    .box p {
        margin:0 30px 10px;
    }

    .box .user-info p {
        margin:0;        
    }
    .box .food-desc {
        font-size:15px !important;
    }

    .box h2 {
        margin:0 30px;
    }

    .box .btn {
        margin-left:30px !important;
    }


}

/* Login nav view */

.auth-btn ul {
    display:none;
    float:right;
    width:131px;
}

.auth-btn .no-border {
    border:none;
}

.auth-btn:hover .login-desc {
    display:block;
}

.auth-btn ul {
    background-color:#fff;
    z-index: 2000;
    list-style: none;        
}

.auth-btn ul li {
    display:block;
    text-align:center;
}

.auth-btn ul li a {
    display:block;
    padding:10px 0;
    text-decoration:none;
    font-size:14px;
    font-family:arial;
    color:#333;
}

.auth-btn ul li a:hover {
    background-color:#e6e6e6;
}

.auth-btn ul .br {
    height:1px;
    background-color:#eee;
    display:block;
}
.auth-btn ul {
    border-radius:5px;
    -webkit-border-radius:5px;
}


/*Single page styles*/

.around {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    padding:13px;
    margin-top:20px;

}

.around {
    position: relative;
    border: 1px solid #eeeeee;
}
.around:after, .around:before {
    bottom: 100%;
    left: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.around:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #eeeeee;
    border-width: 8px;
    margin-left: -8px;
}
.around:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eeeeee;
    border-width: 6px;
    margin-left: -6px;
}




